<% layout("layouts/boilerplate")%>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://res.cloudinary.com/du2tr4b17/image/upload/v1665284944/YelpCamp/helena-lopes-PGnqT0rXWLs-unsplash_sdl2yx.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <!--          -->
          <h5 class="card-title">Register</h5>
          <!-- <h1>Register</h1> -->
          <!-- //This is the class we created for validation 
              in class, not a default name -->
          <form
            action="/register"
            class="needs-validation"
            novalidate
            method="post"
          >
            <!-- Username -->
            <div class="mb-4">
              <label class="form-label" for="username">Username:</label>
              <input
                autofocus
                class="form-control"
                type="text"
                name="username"
                required
                id="username"
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a username.</div>
            </div>
            <!-- Email -->
            <div class="mb-4">
              <label class="form-label" for="email">Email:</label>
              <input
                class="form-control"
                type="email"
                name="email"
                required
                id="email"
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter an email.</div>
            </div>
            <!-- Password -->
            <div class="mb-4">
              <label class="form-label" for="password">Password:</label>
              <input
                class="form-control"
                type="password"
                name="password"
                required
                id="password"
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a password.</div>
            </div>
            <!-- d-btn-block is for full row length button -->
            <div class="d-grid gap-2">
              <!-- type="button will break form!!! -->
              <button class="btn btn-success">Submit</button>
            </div>
          </form>
          <!--          -->
        </div>
      </div>
    </div>
  </div>
</div>
